In [1]:
import pandas as pd
import os
import glob

In [9]:
try:
    print("## 1. 데이터 준비 시작")
    folder_path = 'translation_korean_to_english_data/'
    if not os.path.exists(folder_path):
        raise FileNotFoundError(f'지정된 폴더 경로가 존재하지 않습니다: {folder_path}')
    file_paths = glob.glob(os.path.join(folder_path, '*.xlsx'))
    if not file_paths:
        raise FileNotFoundError(f'폴더에 .xlsx 파일이 없습니다: {folder_path}')
    dataframes = []
    for file in file_paths:
        df = pd.read_excel(file,
                           converters={'원문': str, '번역문': str},
                           engine='openpyxl')
        if '원문' in df.columns and '번역문' in df.columns:
            df = df[['원문', '번역문']]
            dataframes.append(df)
        else:
            print(f"파일 {file}에서 '원문' 또는 '번역문' 열을 찾을 수 없습니다.")
    if dataframes:
        merged_data = pd.concat(dataframes, ignore_index=True)
        merged_data = merged_data.rename(columns={"원문": "source", "번역문": "target"})
        print(merged_data.head())
    else:
        raise ValueError("결합할 데이터가 없습니다.")
    print("## 1. 데이터 준비 완료")
except Exception as e:
    print(f"## 1. 데이터 준비 실패: {type(e).__name__} – {e}")
    raise

## 1. 데이터 준비 시작

/home/pjh/work-space/cookDuck_llama/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/pjh/work-space/cookDuck_llama/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/pjh/work-space/cookDuck_llama/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/pjh/work-space/cookDuck_llama/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                           source                                       target
0        그녀가 할 수 있는 것은 우는 것이었습니다.                    All she could do was cry.
1     그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.  Artworks enough to outshine Picasso poured.
2      내가 나에게 계속 해오고 있는 말이기 때문이다.                 Because I keep saying to me.
3  나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.         Being old didn't mean being useless.
4      두 사람은 모두 신앙심이 깊은 것으로 알려졌다.              Both are known to be religious.
## 1. 데이터 준비 완료

In [11]:
merged_data = merged_data[['target', 'source']]
merged_data.head()

                                        target                          source
0                    All she could do was cry.        그녀가 할 수 있는 것은 우는 것이었습니다.
1  Artworks enough to outshine Picasso poured.     그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.
2                 Because I keep saying to me.      내가 나에게 계속 해오고 있는 말이기 때문이다.
3         Being old didn't mean being useless.  나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.
4              Both are known to be religious.      두 사람은 모두 신앙심이 깊은 것으로 알려졌다.

In [12]:
merged_data['inputs'] = ""

In [1]:
merged_data = merged_data.rename(columns={
   
    'inputs': 'input'
})

NameError: name 'merged_data' is not defined

In [2]:
df_data = pd.read_csv("translation_korean_to_english_data/en_to_ko.csv")

In [3]:
df_data.head()

                                       english                          korean
0                    All she could do was cry.        그녀가 할 수 있는 것은 우는 것이었습니다.
1  Artworks enough to outshine Picasso poured.     그야말로 피카소가 울고 갈 만한 작품이 쏟아졌다.
2                 Because I keep saying to me.      내가 나에게 계속 해오고 있는 말이기 때문이다.
3         Being old didn't mean being useless.  나이가 든다는 것은 쓸모가 사라진다는 의미가 아니었다.
4              Both are known to be religious.      두 사람은 모두 신앙심이 깊은 것으로 알려졌다.

In [9]:
df_data.to_csv('translation_korean_to_english_data/en_to_ko.csv', index=False, encoding='utf-8-sig')

In [ ]:
import pandas as pd

# CSV 읽기
df = pd.read_csv("translation_korean_to_english_data/en_to_ko.csv")

# 랜덤 섞기
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

# 상위 30000개만 사용
df = df.iloc[:30000]

# 다시 저장
df.to_csv("translation_korean_to_english_data/en_to_ko_shuffle_small_30k.csv", index=False)

In [7]:
len(df)

70000

In [1]:
import pandas as pd

# CSV 읽기
df = pd.read_csv("translation_korean_to_english_data/en_to_ko.csv")

# 랜덤 섞기
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

# 상위 30000개만 사용
df = df.iloc[:1000]

# 다시 저장
df.to_csv("translation_korean_to_english_data/en_to_ko_shuffle_small_1k.csv", index=False)

In [1]:
# 대화체 변환.
import pandas as pd

# CSV 읽기
df = pd.read_csv("translation_korean_to_english_data/en_to_ko_shuffle_small_30k.csv")

df

,english,korean
0,The Committee shall convene meetings where dee...,위원회의 회의는 위원장이 필요하다고 인정하는 경우에 이를 소집한다.
1,Gyeonggi Provincial Government will recruit us...,경기도가 25일부터 31일까지 2013 지역사회서비스 투자사업바우처(사회서비스이용권...
2,We have searched the way to deal with Product ...,"우리는 고객의 요구사항을 최대한 맞추기 위해, B 제품을 작업할 방법을 모색했습니다."
3,"Sindongje, where festival will be held, is the...",축제가 열리는 신동재 일원은 대략 330만㎡에 이르는 거대한 아카시아 군락지로 지금...
4,We need to be alert instead of taking it light...,일시적 현상이라고 가볍게 넘기지 말고 경각심을 가질 필요가 있다.
...,...,...
29995,If you show me your boarding pass I will help ...,승객님의 탑승권을 보여주시면 좌석 안내 도와드리겠습니다.
29996,"In any of the following cases, an institution ...",전문매각기관은 다음 각 호의 어느 하나에 해당하는 경우 구청장에게 매각대행 의뢰를 ...
29997,Walk Disney shared the scenario with the coope...,월트 디즈니는 이 시나리오를 디즈니 애니메이션 회사 동업자인 아이윅스에 보여주었고 ...
29998,"As Oh Ban-suk moved to another team, there was...",오반석의 이적과 함께 제주는 수비에 구멍이 생겼다.
29999,The health examination is for free and in case...,"건강검진은 수납이 없고, 혹시나 담당 선생님께 진료를 받으시면 수납을 하셔야 해요."

In [ ]:
try:
    print("## 1. 데이터 준비 시작")
    folder_path = 'translation_korean_to_english_data/'
    if not os.path.exists(folder_path):
        raise FileNotFoundError(f'지정된 폴더 경로가 존재하지 않습니다: {folder_path}')
    file_paths = glob.glob(os.path.join(folder_path, '*.xlsx'))
    if not file_paths:
        raise FileNotFoundError(f'폴더에 .xlsx 파일이 없습니다: {folder_path}')
    dataframes = []
    for file in file_paths:
        df = pd.read_excel(file,
                           converters={'원문': str, '번역문': str},
                           engine='openpyxl')
        if '원문' in df.columns and '번역문' in df.columns:
            df = df[['원문', '번역문']]
            dataframes.append(df)
        else:
            print(f"파일 {file}에서 '원문' 또는 '번역문' 열을 찾을 수 없습니다.")
    if dataframes:
        merged_data = pd.concat(dataframes, ignore_index=True)
        merged_data = merged_data.rename(columns={"원문": "source", "번역문": "target"})
        print(merged_data.head())
    else:
        raise ValueError("결합할 데이터가 없습니다.")
    print("## 1. 데이터 준비 완료")
except Exception as e:
    print(f"## 1. 데이터 준비 실패: {type(e).__name__} – {e}")
    raise